@page
@model GetThreeStateInputModel
@{
  ViewData["Title"] = "Get State Input";
}

<div class="container">  
    <h2>Which State(s) are you interested in?</h2>  
    <hr />  
    <br />  
		<form action="ThreeStateCompInfo" method="get">
				
        <div class="row">  
            <div class="col-md-4">  
                <label asp-for="Input">Enter first state name (partial):</label>  
                <input asp-for="Input" class="form-control" />  
            </div>  
        </div>   
        
        <div class ="row">
            <div class="col-md-4">
                <label asp-for="Input2">Enter second state name (partial):</label>
                <input asp-for="Input2" class="form-control" />
            </div>
        </div>
        
        <div class ="row">
            <div class="col-md-4">
                <label asp-for="Input3">Enter third state name (partial):</label>
                <input asp-for="Input3" class="form-control" />
            </div>
        </div>
				
        <br />  
        <input type="submit" value="Lookup" class="btn btn-primary" />  
        <a class="btn btn-default" href="/">Cancel</a>  
				
    </form>
</div>

